<h1>Profile page</h1>
<h2>User data:</h2>
{{#if user}}
 <h3>User Name: 
     {{capital user.name}}
 </h3>
{{/if}}
<a href="/user/logout">Logout</a>

{{#ifEqual user.gender 'male'}} 
<h1>User is a Male</h1>
{{/ifEqual}}